.popup__close-button {
  right: -40px;
  top: -40px;
  position: absolute;
  background-size: contain;
  background-image: url(../../../images/popup/Close\ Icon.svg);
  border: none;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.popup__close-button:hover {
  opacity: 0.6;
}
/* 
@media screen and (max-width: 1000px) {
  .popup__close-button{
    right: 30px;
    top: -40px;
  }
} */

@media screen and (max-width: 900px) {
  .popup__close-button{
    right: 20px;
    top: -40px;
  }
}


@media screen and (max-width: 500px) {
  .popup__close-button{
    right: 10px;
    top: -40px;
  }
}


@media screen and (max-width: 390px) {
  .popup__close-button{
    right: 40px;
    top: -40px;
  }
}

