.popup__close-button {
  right: -40px;
  top: -40px;
  position: absolute;
  background-size: contain;
  background-image: url(../../../images/popup/Close\ Icon.svg);
  border: none;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}